
@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'BluuNext-Bold';
    src: url(./fonts/BluuNext-Bold.woff2) format('woff2');
}



body {
    font-family:'BluuNext-Bold';
}
h3 {
    font-family: 'BluuNext-Bold';
    font-size: 1.8em;
}

 

.contenido-principal {
    min-height: 50px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 80vw;
    min-width: 65vmin;
    flex: 5;
    box-sizing: border-box;
    
    
}

.secciones {
    min-height: 50px;
    margin: 0.5rem;
    padding: 1rem;

}

.articulos {
    min-height: 20px;
    margin: 0.30rem;
    padding: 0.5rem;
    overflow: auto;

}

.texto-lateral {
    min-height: 50px;
    margin: 0.5rem;
    padding: 1rem;
    min-width: 25%;
    width: 20vw;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: start;


}

#foto-principal {
    width: 100%;

}

.titulos {
    font-family: 'BluuNext-Bold';
    font-size: 20px;

}



iframe {
    height: 30vw;
}



#starwarspicture, #milliebobbypicture, #jasonsudeikis, #potterseries, #hogwartslegacy, #publihbo, #cannes  {
    width: 100%;


}

.seccioneslaterales {
    
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
   
  
}

#pub {
    
    margin-bottom: 4.5rem;
}

#articulopartido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.subarticulo {
    flex: 1;
    padding: 1rem;

}

form {
    font-family:'BluuNext-Bold';
    font-size: 1rem;
}


#botonform {
    font-family:'BluuNext-Bold';
    background-color: #876093;
    border-radius: 20px;
    color: white;


}

@media (max-width: 859px) {
    #pub {
        margin-bottom: 8rem;
    }

      }

#noticiaclickeable:hover {
    background-color:rgb(209, 215, 170) ;
}